@import './animation';

.chipPlace {
  position: relative;
  width: 70px;
  height: 70px;

  @media (max-width: 500px) {
    width: 50px;
    height: 50px;
  }

  @media (max-width: 400px) {
    width: 45px;
    height: 45px;
  }
}

.chipContainer {
  position: absolute;
  width: 100%;
  font-size: 0;
  z-index: 5;

  &:nth-child(2n) {
    transform: translate(5%, 5%);
  }

  &:nth-child(3n) {
    transform: translate(-5%, -5%);
  }
}

.betShow {
  animation: move-bet-1 400ms ease-in-out forwards reverse;

  &:nth-child(2n) {
    animation: move-bet-2 400ms ease-in-out forwards reverse;
  }

  &:nth-child(3n) {
    animation: move-bet-3 400ms ease-in-out forwards reverse;
  }
}

.betHide {
  animation: move-bet-1 400ms ease-in-out forwards;

  &:nth-child(2n) {
    animation: move-bet-2 400ms ease-in-out forwards;
  }

  &:nth-child(3n) {
    animation: move-bet-3 400ms ease-in-out forwards;
  }
}
