.table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  table-layout: fixed;
  box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.14);

  caption {
    font-size: 24px;
    margin-bottom: 10px;
  }

  tr {
    background-color: #f9f9f9;
    border: 1px solid #cecece;
  }

  th,
  td {
    padding: 10px;
    text-align: center;
  }

  th {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .ascending,
  .descending {
    color: #2e93ff;
  }

  .ascending::after,
  .descending::after {
    position: absolute;
    display: inline-block;
    margin-left: 5px;
  }

  .ascending::after {
    content: '\25B2';
  }

  .descending::after {
    content: '\25BC';
  }
}

@media (max-width: 650px) {
  .table {
    box-shadow: none;

    caption {
      font-size: 20px;
    }

    thead {
      tr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    tr {
      display: block;
      margin-bottom: 10px;
      border-bottom: 3px solid #cecece;
      border-radius: 8px;

      box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.14);
    }

    tbody {
      tr:last-child {
        margin-bottom: 0;
      }
    }

    th,
    td {
      padding: 5px;
      border-bottom: 1px solid #cecece;
    }

    td {
      display: flex;
      justify-content: space-between;

      font-size: 14px;
    }

    td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
    }

    th:last-child,
    td:last-child {
      border-bottom: 0;
    }
  }
}
