.name {
  text-transform: uppercase;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin-top: 5px;

  width: 40px;
  height: 40px;
  background-color: #1125147a;
  border-radius: 50%;
}

.scoreInvisible {
  opacity: 0;
}

.showScore {
  opacity: 1;
  transition: opacity 700ms ease-out 1100ms;
}

.hideScore {
  opacity: 0;
  transition: opacity 400ms ease-out;
}

@keyframes score-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
