.name {
  text-transform: uppercase;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  width: 30px;
  height: 30px;
  // border: 1px solid red;
  background-color: rgb(179, 175, 175);
  border-radius: 5px;
}
