@mixin dealing-mixin($name, $childNumber, $groupNumber) {
  @keyframes #{$name} {
    0% {
      top: 0;
      right: 0;
      opacity: 0;
      transform: translateX(0);
    }

    50% {
      opacity: 1;
    }

    100% {
      top: 100%;
      right: 100% / $groupNumber -25%;
      transform: translate(-50% + 50% * $childNumber, -100%);
    }
  }
}

@include dealing-mixin(player-dealing-1, 1, 1);
@include dealing-mixin(player-dealing-2, 2, 1);
@include dealing-mixin(player-dealing-3, 3, 1);

@include dealing-mixin(banker-dealing-1, 1, 2);
@include dealing-mixin(banker-dealing-2, 2, 2);
@include dealing-mixin(banker-dealing-3, 3, 2);

@keyframes remove {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@mixin move-mixin($name, $childNumber) {
  @keyframes #{$name} {
    0% {
      transform: translate(-50% + 50% * $childNumber, -100%);
    }

    30% {
      transform: translate(50%, -100%);
    }

    100% {
      transform: translate(50%, -300%);
    }
  }
}

@include move-mixin(move-1, 1);
@include move-mixin(move-2, 2);
@include move-mixin(move-3, 3);
