@import './animation';

$cardWidth: 80px;

.bankerCollection,
.playerCollection {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 50%;
  height: 100%;
}

.cardContainer {
  position: absolute;
  top: 100%;

  width: $cardWidth;
  height: $cardWidth * (190/ 140);
  perspective: 1000px;

  background-color: transparent;
  font-size: 0;

  &:nth-child(1) {
    transform: translate(0, -100%);
  }

  &:nth-child(2) {
    transform: translate(50%, -100%);
  }

  &:nth-child(3) {
    transform: translate(100%, -100%);
  }
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 500ms 150ms;
  transform-style: preserve-3d;
}

.playerCollection {
  .cardContainer {
    right: 75%;
  }

  .cardShowed {
    &:nth-child(1) {
      animation-name: player-dealing-1;
    }

    &:nth-child(2) {
      animation-name: player-dealing-2;
    }

    &:nth-child(3) {
      animation-name: player-dealing-3;
    }
  }
}

.bankerCollection {
  .cardContainer {
    right: 25%;
  }

  .cardShowed {
    &:nth-child(1) {
      animation-name: banker-dealing-1;
    }

    &:nth-child(2) {
      animation-name: banker-dealing-2;
    }

    &:nth-child(3) {
      animation-name: banker-dealing-3;
    }
  }
}

.cardShowed {
  animation-duration: 700ms;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  animation-delay: 200ms;
}

$moveCardDuring: 800ms;
$moveCardDelay: 0ms;

$removeCardDuring: 300ms;
$removeCardDelay: 400ms;

.cardHidden {
  .cardInner {
    transform: rotateY(180deg);
  }

  &:nth-child(1) {
    animation: remove $removeCardDuring $removeCardDelay forwards ease-in-out,
      move-1 $moveCardDuring $moveCardDelay forwards ease-in-out;
  }

  &:nth-child(2) {
    animation: remove $removeCardDuring $removeCardDelay forwards ease-in-out,
      move-2 $moveCardDuring $moveCardDelay forwards ease-in-out;
  }

  &:nth-child(3) {
    animation: remove $removeCardDuring $removeCardDelay forwards ease-in-out,
      move-3 $moveCardDuring $moveCardDelay forwards ease-in-out;
  }
}
