.panel {
  position: fixed;
  bottom: 0;
  margin-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;

  width: 100%;
}

.places {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 250px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.panelHidden {
  animation: panel-move 600ms ease-in-out forwards;
}

.panelShow {
  animation: panel-move 600ms reverse 300ms ease-in-out backwards;
}

@keyframes panel-move {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
