.panel {
  position: fixed;
  bottom: 0;
  margin-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;

  @media (max-width: 400px) {
    margin-bottom: 20px;
  }

  width: 100%;
}

.places {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
  height: 100%;
}

.placesWrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.placeContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.panelHidden {
  animation: panel-move 600ms ease-in-out forwards;
}

.panelShow {
  animation: panel-move 600ms reverse 300ms ease-in-out backwards;
}

@keyframes panel-move {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
