.board {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 800px;
  height: 350px;
}

.deck {
  position: absolute;
  top: 0;
  right: 0;

  width: 85px;
}

.playerScore,
.bankerScore {
  position: absolute;
  top: 55%;
  transform: translate(50%, -50%);

  transition: opacity 600ms ease-out;
}

.playerScore {
  right: 75%;
}

.bankerScore {
  right: 25%;
}
