.board {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 800px;
  height: 350px;
}

.deck {
  position: absolute;
  top: 0;
  right: 0;

  width: 85px;
}

.player_score,
.banker_score {
  position: absolute;
  top: 0;

  transition: opacity 1s ease-out;
}

.banker_score {
  left: 50%;
}
