.board {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 800px;
  width: 100%;
  height: 50%;
}

.balance {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 34px;
  text-align: center;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
}

.deck {
  position: absolute;
  top: 0;
  right: 0;

  width: 85px;
}

.playerScore,
.bankerScore {
  position: absolute;
  top: 55%;
  transform: translate(50%, -50%);

  font-size: 20px;
}

.playerScore {
  right: 75%;
}

.bankerScore {
  right: 25%;
}
