* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;

  background-color: #eee;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #2d303a;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

:global {
  #root {
    width: 100%;
    height: 100%;
  }

  .button {
    min-height: 30px;
    min-width: 100px;
    padding: 5px;

    transition: all 0.2s ease-out;

    border-radius: 5px;
    border: 1px solid #1125147a;
    outline: none;

    background-color: #2e93ff;
    cursor: pointer;

    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 14px 26px -12px rgba(51, 150, 250, 0.55), 0 4px 23px 0px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(62, 152, 241, 0.35);
      background-color: #57a5f8;
    }

    &:disabled {
      opacity: 0;
    }

    &:active {
      color: #e7e5e5;
      box-shadow: none;
      background-color: #2e93ff;
    }
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

    padding: 20px;

    @media (max-width: 600px) {
      padding: 10px;
    }
  }
}
