.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.chipsArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media (max-width: 400px) {
    gap: 6px;
  }
}

.chipContainer {
  width: 70px;
  font-size: 0;

  @media (max-width: 500px) {
    width: 50px;
  }

  @media (max-width: 400px) {
    width: 45px;
  }
}

.balance {
  margin: 0 auto;

  font-size: 30px;
  text-align: center;
  user-select: none;
}
