.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.chips_area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.balance {
  margin: 0 auto;

  font-size: 30px;
  text-align: center;
  user-select: none;
}
