.header {
  z-index: 100;
  width: 100%;
  font-size: 20px;
  background: #000000;
  color: #fff;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  padding: 0 30px 0;
}

.navbar.locked {
  pointer-events: none;
}

.logo {
  width: 75px;
  fill: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
  fill: #2e93ff;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;

  list-style: none;
}

.menuItem {
  align-items: center;
  padding: 0.5rem 1rem;

  a {
    padding-bottom: 2px;
  }

  &:hover {
    background-color: #2e93ff;
    border-radius: 4px;
    transition: background-color 0.2s ease-out;
  }
}

.activeLink {
  border-bottom: 1px solid #fff;
}

.menuIcon {
  display: none;
  background-color: inherit;
  border: inherit;

  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.closeIcon {
  font-size: 35px;
}

@media (max-width: 900px) {
  .menu {
    position: absolute;
    top: 80px;
    left: -100%;

    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: calc(100% - 80px);
    opacity: 0;
    transition: all 0.5s ease;
  }

  .menu.active {
    position: fixed;
    left: 0;
    z-index: 100;
    opacity: 1;
    background: #252323;
  }

  .menuIcon {
    display: block;
  }

  .menuItem {
    width: 100%;
    padding: 25px;
  }

  .menuItem:hover {
    border-radius: 0;
  }

  .header.active {
    position: sticky;
    top: 0;
    width: 100%;
  }
}
